<%= form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="flex  justify-center items-center mt-20">
      
      <div class="hidden sm:flex logo sm:flex-col  sm:justify-start sm:mr-10 sm:pr-36 sm:-mt-36">
          <img width="250" height="100" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook">
          <div class="slogan ml-6 text-3xl pb-4 -my-4"><h2>Connect with friends and the world <br>
          around you on Facebook.</h2></div>    
      </div>

      <div class="login flex flex-col bg-white shadow-2xl space-y-4 items-center py-4 rounded-md">
        <div class="place-self-start px-4">
          <h2 class="font-semibold text-2xl">Sign up</h2>
          <p class=" text-sm text-gray-500">It's quick and easy.</p>
        </div>

        <div class="w-full"> <hr> </div>

        <div class="space-x-3 px-4">
          <%= f.text_field :first, placeholder: 'First name', autofocus: true, autocomplete: "login", class: "bg-gray-100 w-44 h-10 px-3 border border-solid border-gray-300 focus:border-blue-400 focus:outline-none rounded-md"  %>
          <%= f.text_field :last, placeholder: 'Last name', autofocus: true, autocomplete: "login", class: "bg-gray-100 w-44 h-10 px-3 border border-solid border-gray-300 focus:border-blue-400 focus:outline-none rounded-md"  %>
        </div>

        <div class="w-full px-4">
          <%= f.password_field :password, autocomplete: "current-password",placeholder: 'Password', class: "bg-gray-100 w-full h-10 px-3 border border-solid border-gray-300 focus:border-blue-400 focus:outline-none rounded-md"  %>
        </div>

        <div class="w-full px-4">
          <%= f.email_field :email, autocomplete: "email",placeholder: 'Email', class: "bg-gray-100 w-full h-10 px-3 border border-solid border-gray-300 focus:border-blue-400 focus:outline-none rounded-md"  %>
        </div>

        <div class="w-full px-4">
          <p class="text-sm text-gray-800">birthday</p>
        </div>

        <div class="w-full px-4 space-x-3">
          <%= f.date_select :birthday, {}, class: 'border border-solid border-gray-300 rounded w-28 h-10' %>
        </div>

        <div class="w-full px-4">
          <p class="text-sm text-gray-800">Gender</p>
        </div>

        <div class="flex w-full px-4 space-x-4">
          <% User.genders.each do |gender| %>
            <div class="border border-solid border-gray-300 flex flex-row items-center rounded w-28 justify-between px-2 h-10">
              <p> <%= gender%> </p>
              <%= f.radio_button :gender, gender %>
            </div>
          <% end %>
        </div>
        


        

        <div class="text-sm text-gray-400">
          <small> By clicking Sign Up, you agree to our Terms, Data Policy and Cookies <br> Policy. You may receive SMS Notifications from us and can opt <br> out any time.</small>
        </div>

        <div class="place-self-center">
          <%= f.submit "Create an account", class: 'bg-green text-white font-semibold px-4 rounded-md h-10 border border-solid border-green cursor-pointer' %>
        </div>

        
        
        
      </div>


    </div>
<% end %>



<!-- 
<%= form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="flex sm:justify-center ">
      <div class="bg-white shadow-2xl flex flex-col  w-screen sm:w-96 mx-3 items-center space-y-6 my-8 py-8 px-4 sm:px-0 rounded-md">
        
        



        <div class="flex space-x-8">
          <div>
            <%= f.text_field :first, autofocus: true, placeholder: 'First name', class: 'bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-36  pl-2 rounded h-16 sm:h-10' %>
          </div>

          <div>
            <%= f.text_field :last, autofocus: true, placeholder: 'Last name', class: 'bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-36 pl-2 rounded h-16 sm:h-10' %>
          </div>
        </div>

        <div class="w-full sm:w-80">
          <%= f.email_field :email, autocomplete: 'email', autofocus: true, placeholder: 'email' , class: "bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-80 pl-2 rounded h-16 sm:h-10" %>
        </div>

        <div class="w-full sm:w-80">
          <%= f.password_field :password, placeholder: 'password', autocomplete: "new-password",class: "bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-80 pl-2 rounded h-14 sm:h-10" %>
        </div>

        <div class="w-full sm:w-80">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'password confirmation', class: "bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-80 pl-2 rounded h-14 sm:h-10" %>
        </div>



        <div class="w-full sm:w-80">
          <%=  f.submit "Create an account" ,class: "w-full bg-green text-white bg mr-3 h-12 hover:bg-opacity-90 duration-100 rounded font-semibold border border-solid border-green-900" %>
        </div>
      

      </div>
    </div>
  <% end %>

-->
  

        

