
  <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="flex sm:justify-center ">
      <div class="bg-white shadow-2xl flex flex-col  w-screen sm:w-96 mx-3 items-center space-y-6 my-8 py-8 px-4 sm:px-0 rounded-md">
        
        



        <div class="flex space-x-8">
          <div>
            <%= f.text_field :first, autofocus: true, placeholder: 'First name', class: 'bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-36  pl-2 rounded h-16 sm:h-10' %>
          </div>

          <div>
            <%= f.text_field :last, autofocus: true, placeholder: 'Last name', class: 'bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-36 pl-2 rounded h-16 sm:h-10' %>
          </div>
        </div>

        <div class="w-full sm:w-80">
          <%= f.email_field :email, autocomplete: 'email', autofocus: true, placeholder: 'email' , class: "bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-80 pl-2 rounded h-16 sm:h-10" %>
        </div>

        <div class="w-full sm:w-80">
          <%= f.password_field :password, placeholder: 'password', autocomplete: "new-password",class: "bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-80 pl-2 rounded h-14 sm:h-10" %>
        </div>

        <div class="w-full sm:w-80">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'password confirmation', class: "bg-gray-100 border border-solid border-gray-300 focus:outline-none focus:ring w-full sm:w-80 pl-2 rounded h-14 sm:h-10" %>
        </div>



        <div class="w-full sm:w-80">
          <%=  f.submit "Create an account" ,class: "w-full bg-green text-white bg mr-3 h-12 hover:bg-opacity-90 duration-100 rounded font-semibold border border-solid border-green-900" %>
        </div>
      

      </div>
    </div>
  <% end %>

        
<!-- 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field flex flex-col justify-end">
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "border border-solid border-gray-300 focus:outline-none focus:ring" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border border-solid border-gray-300 focus:outline-none focus:ring" %>
        </div>

        <div class="actions">
          <%= f.submit "Create an account", class: 'w-52 bg-green text-white bg mr-3 h-9 hover:bg-opacity-90 duration-100 rounded font-semibold border border-solid border-green-900' %>
        </div>
        

        
    <% end %>
-->
