<div class="success-error">
  <%= flash[:success] %>
  <%= flash.now[:error] %>
</div>

<div class="friends-container bg-white border border-solid border-gray-300 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5 flex flex-col shadow m-2">

  <% if @received_requests.any? %>
    <span class="received-text text-xs pl-2">Received Requests</span>
    <% @received_requests.each do |req| %>
      <div class="received-div flex w-full p-2">
        
        <%= link_to user_path req.sender do %>
          <div class="profile-pic flex items-center pt-2" >  
            <% if req.sender.profile_picture.attached? %>
              <%= image_tag req.sender.profile_picture, class: 'rounded-full h-9 w-10' %>
            <% else %>
              <img x="0" y="0" class="rounded-full h-9 w-10" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" src=<%= User.default_profile_pic %> >
            <% end %>
          </div>
        <% end %>
        <div class="username-and-request flex flex-col pl-4 w-full">
          <%= link_to user_path req.sender do %>
            <p class="font-medium"> <%= current_user.formatted_name %> </p>
          <% end %>
          <div class="received-request w-full flex space-x-2">
            <!-- Button to accept friend -->
            <%= link_to friends_path(friend_request_id: req.id), method: :post, class: 'w-1/2' do %>
              <button class="py-1 w-full rounded text-white font-medium bg-blue-600">Accept</button>
            <% end %>
            <!-- Button to delete friend -->
            <%= link_to req, method: :delete, class: 'w-1/2' do %>
              <button class="py-1 w-full rounded bg-gray-100 text-black font-medium">Cancel</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="w-full flex justify-center mt-2"><hr class="w-4/5"></div>
  <% end %>

  <% if @sent_requests.any? %>
    <span class="text-xs pl-2 pt-2">Sent Friend requests</span>
    <% @sent_requests.each do |req| %>
      <div class="flex w-full p-2">
        <%= link_to user_path(req.receiver) do %>
          <div class="profile-pic flex items-center pt-2" > 
            <% if req.receiver.profile_picture.attached? %> 
              <%= image_tag req.receiver.profile_picture, class: 'rounded-full h-9 w-10' %>
            <% else %>     
              <img x="0" y="0" class="rounded-full h-9 w-10" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" src=<%= User.default_profile_pic %>> 
            <% end %>
          </div>
        <% end %>
        <div class="username-and-request flex flex-col pl-4 w-full">
          <%= link_to user_path req.receiver do %>
            <p class="font-medium"> <%= req.receiver.formatted_name %> </p>
          <% end %>
          <div class="sent-request w-full">
            <%= link_to req, method: :delete do %>
              <button class="bg-gray-200 text-black font-semibold w-full rounded py-1">Cancel Friend request</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="w-full flex justify-center mt-2"><hr class=" w-4/5"></div>
  <% end %>

  <% if @users.any? %>
    <span class="text-xs pl-2 pt-2">People you may know</span>
    <% @users.each do |user| %>
      <div class="users flex w-full p-2">
        <%= link_to user_path user, class: 'pt-2' do %>
          <div class="profile-pic flex items-center pt-4" >
            <% if user.profile_picture.attached? %> 
              <%= image_tag user.profile_picture, class: 'rounded-full h-9 w-10' %>  
            <% else %> 
              <img x="0" y="0" class="rounded-full h-9 w-10" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" src=<%= User.default_profile_pic %> 
            <% end %> >
          </div>
        <% end %>
          <div class="username-and-request flex flex-col pl-4 w-full">
            <%= link_to user_path user do %>
              <p class="username font-medium"> <%= user.formatted_name%> </p>
            <% end %>
            <div class="new-request w-full">
              <%= link_to new_friend_path(receiver: user.id) do %>
                <button class="bg-blue-700 text-white font-semibold w-full rounded py-1">Send Friend Request</button>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>

</div>

<div class="w-screen h-screen md:absolute top-0 md:flex items-center justify-center z-under">
      <div class="flex flex-col items-center">
        <svg class="w-28 h-28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 112">
          <defs>
            <clipPath id="a">
              <circle cx="72.58" cy="53.81" r="12.08" fill="none"></circle>
            </clipPath>
          </defs>
          <g clip-path="url(#a)">
            <circle cx="72.58" cy="53.81" r="12.08" fill="#1876f2"></circle>
            <circle cx="62.18" cy="40.55" r="14.72" fill="#a4a7ab"></circle>
            <circle cx="88.92" cy="39.27" r="14.72" fill="#a4a7ab"></circle>
          </g>
          <path d="M27.37 17.56h11.3a3.84 3.84 0 013.84 3.84v15h-19v-15a3.84 3.84 0 013.86-3.84z"></path>
          <rect width="19" height="24.75" x="23.52" y="26.9" fill="#90c3ff" rx="8.65"></rect>
          <path fill="#a4a7ab" d="M18.87 55.28h28.3a7 7 0 017 7v37.36H11.92V62.23a7 7 0 016.95-6.95z"></path>
          <path fill="#64676b" d="M68.63 68.28h5.06A26.12 26.12 0 0199.8 94.4v5.25H42.51V94.4a26.12 26.12 0 0126.12-26.12z"></path>
          <circle cx="66.32" cy="35.2" r="7.55" fill="#a4a7ab"></circle>
        </svg>
        <span class="text-xl font-semibold">
          Select people's names to preview their profile.
        </span>
      </div>
</div>
