<% if flash[:error] || flash[:sucess] %>
  <%= flash[:error] || flash[:sucess] %>
<% end %>
<div class="flex h-full justify-center">
  <div class="flex flex-col w-full sm:w-1/2 mx-10 sm:mx-0 md:w-1/4 lg:w-1/4  bg-white border border-solid border-gray-200 shadow-2xl rounded-md my-8">
    <div class="user-info m-2 flex-flex-col">
      <p class="font-semibold text-gray-700 text-2xl"> <%= current_user.formatted_name %> </p>
      <p class="text-sm font-light text-gray-600"> <%= '@' + current_user.username %> </p>
    </div>


    <!-- Profile display -->
    <div class="profile_picture mt-2 flex justify-center">
      <div class="picture w-16 h-16">
        <% if current_user.profile_picture.attached? %>
          <%= image_tag current_user.profile_picture, class: 'rounded-full border border-solid border-white w-full h-full' %>
        <% else %>
          <img x="0" y="0" class="picture rounded-full w-full h-full bg-black border border-solid border-white" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" src=<%= User.default_profile_pic %> >
        <% end %>
      </div>
    </div>

    <!-- Change profile button -->
    <%= form_with model: current_user, method: :post, url: profile_picture_path, class: 'change_profile flex justify-center pt-4' do |f|  %>
      <button class="bg-blue-600 text-white px-2 py-0.5 rounded font-semibold">Change profile pic</button>
      <%= f.file_field :profile_picture, class: 'hidden' %>
      <%= f.submit 'sub', class: "hidden" %>
    <% end %>


    <!-- Cover display -->

    <div class="cover mt-14 flex justify-center">
      <div class="picture w-28 h-20">
        <% if current_user.cover.attached? %>
          <%= image_tag current_user.cover, class: 'rounded-md border border-solid border-gray-200 w-full h-full' %>
        <% else %>
          <div class="cover bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 h-2/4"></div>
        <% end %>
      </div>
    </div>

    <!-- Change cover button -->
    <%= form_with model: current_user, method: :post, url: cover_path, id: 'cover_form', class: 'change_profile flex justify-center pt-4' do |f| %>
      <button class="bg-blue-600 text-white px-2 py-0.5 rounded font-semibold">Change cover pic</button>
      <%= f.file_field :cover, class: 'hidden' %>
      <%= f.submit 'sub', class: 'hidden' %>
    <% end %>

    <!-- update uesr info form -->
    <%= form_with model: current_user,  class: 'flex flex-col mx-2 my-4' do |f| %>

      <div>
        <p class="font-light   text-xs text-gray-500">email</p>
        <%= f.email_field :email, class: 'w-full border border-solid border-gray-200 pl-2 py-1 rounded text-gray-600 outline-none focus:border-blue-400 mb-4' %>
      </div>

      <div>
        <p class="font-light   text-xs text-gray-500">password</p>
        <%= f.password_field :password, class: 'w-full border border-solid border-gray-200 pl-2 py-1 rounded text-gray-600 outline-none focus:border-blue-400 mb-4', placeholder: 'New password' %>
      </div>

      <div>
        <p class="font-light   text-xs text-gray-500">username</p>
        <%= f.text_field :username, class: 'w-full border border-solid border-gray-200 pl-2 py-1 rounded text-gray-600 outline-none focus:border-blue-400 mb-4' %>
      </div>

      <div class="names flex flex-col lg:flex-row justify-between mb-4">
        <div>
          <p class="font-light   text-xs text-gray-500">first name</p>
          <%= f.text_field :first, class: 'w-full border border-solid border-gray-200 outline-none focus:border-blue-400 rounded pl-2 py-1 text-gray-600' %>
        </div>

        <div>
          <p class="font-light   text-xs text-gray-500">last name</p>
          <%= f.text_field :last, class: 'w-full border border-solid border-gray-200 outline-none focus:border-blue-400 rounded pl-2 py-1 text-gray-600' %>
        </div>
      </div>

      <%= f.submit 'Update', class: 'py-0.5 px-1 bg-blue-600 text-white font-semibold border border-solid border-blue-300 rounded' %>

    <% end %>

  </div>
</div>
<%= javascript_pack_tag 'image_upload' %>