<div class="flex justify-center  h-screen">
  <div class="flex flex-col w-full lg:w-2/4 md:w-3/4 h-full  ">

    <!-- cover form -->
    <% if @user.id == current_user.id %>
      <%= form_with model: @user, method: :post, url: cover_path, id: 'cover_form', class: 'flex items-center justify-center bg-blue-50 rounded cursor-pointer' do |f| %>
        <%= f.file_field :cover, class: "hidden" %>
        <div class="text-blue-600 font-semibold">Add cover</div>
        <%= f.submit '', class: 'hidden' %>
      <% end %>
    <% end %>

    <!-- cover display -->
    <div class="cover bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 h-2/4">
      <% if @user.cover.attached? %> 
        <%= image_tag @user.cover, class: 'w-full h-full' %>
      <% end  %>
    </div>


    <!-- profile pic display -->
    <div class="flex justify-center ">
      <div id="profile_pic" class="profile_picture bg-black w-28 h-28 rounded-full border-2 border-solid border-white relative -top-20">
        <% if @user.profile_picture.attached? %>
          <%= image_tag @user.profile_picture, class: 'w-full h-full rounded-full' %>
        <% end %>

      </div>
    </div>

    <!-- me posts display -->
    <div class="w-full flex flex-col items-center relative -top-10">
      <% @user.posts.each do |post| %>
        <div class="w-2/3 flex flex-col justify-center bg-white rounded shadow my-2 border border-solid border-gray-200">
          
          <!-- Show user image, user's name and post dropdown -->
          <div class="user-name flex ml-4 mt-1 pt-2"> 
            <%= link_to @user_path do %>
              <img x="0" y="0" class="rounded-full h-7 w-7" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" src=<%= User.default_profile_pic %> > 
            <% end %>
            <div class="ml-2  flex justify-between leading-5 w-full"> 
              <div class="flex flex-col">
                <span class="font-semibold hover:underline">
                  <%= link_to @user_path do %> 
                    <%= post.user.formatted_name %> 
                  <% end %>
                </span>
                
                <div class="text-xs text-gray-500"><%= post.when %></div>  
              </div>

              
              <% if post.user == @user %>
                <!-- Posts dropdown -->
                <div class="open-dropdown post-dropdown-toggle mr-2 rounded-full hover:bg-gray-200 h-10 w-10 flex justify-center items-center cursor-pointer select-none">
                  <div class="hidden post-dropdown flex flex-col w-1/6 h-24 bg-white rounded border border-solid border-gray-200 shadow absolute right-1/3 mr-10 mt-8">
      
                    <%= link_to edit_post_path(post, redirect: false), class: 'flex items-center mx-2 mt-2 rounded h-10 pl-2 hover:bg-gray-200 cursor-pointer' do %>
                      <svg class="inline w-6 h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                        </svg>
                        <p class="pl-4 font-medium">Edit post</p>
                    <% end %>

                    <%= link_to "posts/#{post.id}?redirect=false", method: :delete, class: 'flex items-center mx-2 rounded h-10 pl-2 hover:bg-gray-200 cursor-pointer' do %>
                      <svg class="inline w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                      </svg>
                      <p class="pl-4 font-medium">Delete post</p>
                    <% end %>
                  

                  </div>

                  <svg class="inline self-center w-6 h-6 text-secondarygray fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                  </svg>

                </div>   

              <% end %>
            </div>   

            
          </div>

          <!-- Show post body -->
          <div class="user-post-body ml-4 mt-2 mb-2 mr-2 ">
            
            <div class="break-words"><%= post.body %></div>

          </div>

          <!-- Show image or video if any with for the post -->
          <div class="file-div">
            <% if post.image_attachment %>
              <div class="pb-2"><%= image_tag post.image, width: '100%' %></div>
            <% end %>
          </div>

        

          <div class="mx-4 flex justify-between">
            <div class="like-count">
              <% likes = post.likes.count %>
              <span class=" text-xs text-gray-400"> <%= likes > 0 ? likes.to_s + "#{likes > 1 ? " Likes" : " Like"}" : '' %>  </span>
            </div>

            <div class="comment-count">
              <% comments = post.comments.count %>
               <span class=" text-xs text-gray-400"> <%= comments > 0 ? comments.to_s + "#{comments > 1 ? " Comments" : " Comment"}" : '' %>  </span>
            </div>
          </div>

          <!-- Like or comment on a post -->
          <div class="flex mx-4 mb-2 justify-evenly ">
            <% if @user.liked_posts.include?(post) %>
              <%= link_to likes_path(post: post.id, redirect: false), class: "flex items-center rounded hover:bg-gray-100 w-full justify-center cursor-pointer", method: :delete do %>
                <svg class="inline w-6 h-6 mr-1 mb-1 self-center  text-blue-600 stroke-2 stroke-current text-secondarygray" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"></path>
                </svg>
                <div class="font-medium text-blue-700 text-lg  ml-2">Like</div>
              <% end %>
            <% else %>
              <%= link_to likes_path(post: post.id, redirect: false), class: "flex items-center rounded hover:bg-gray-100 w-full justify-center cursor-pointer" do %>
                <svg class="inline w-6 h-6 mr-1 mb-1 self-center text-gray-400 stroke-2 stroke-current text-secondarygray" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"></path>
                </svg>
                <div class="font-medium text-gray-700 text-lg  ml-2">Like</div>
              <% end %>
            <% end %>
          
            
            <div class="flex items-center w-full justify-center rounded hover:bg-gray-100 cursor-pointer">
              <svg class="inline w-6 h-6 mr-1 mb-1 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"></path>
              </svg>
              <div class="font-medium text-gray-700 text-lg  ml-2">Comment</div>
            </div>

           
          </div>

          <!-- Make a form to create comments -->

          <%= form_with model: [post,Comment.new], method: :get, class: 'flex mx-4' do |f| %>
            <%= f.text_field :body, class: "px-2 border border-solid border-gray-300 rounded-3xl bg-gray-100 outline-none w-full", placeholder: 'Comment' %>
            <%= f.hidden_field :redirect, value: false %>

          <% end %>

          <!-- Show all post comments -->
          <div class="all-comments flex flex-col mx-4 mt-2 space-y-2 py-2">
            
            
           
            <% post.comments.each do |comment| %>
              <div class="flex items-center">
                <div><img x="0" y="0" class="rounded-full h-5 w-5" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" src=<%= User.default_profile_pic %> ></div>
                <div class="pl-1 text-xs font-light text-gray-600 w-full flex justify-between"> 
                  <p class="truncate"> <%= @user.username %> </p> 
                  <% if comment.user == @user %>
                    <div class="comment-dropdown-toggler rounded-full hover:bg-gray-200 cursor-pointer">
                      <svg class="inline self-center w-6 h-6 text-secondarygray fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                      </svg>
                      <div class="comment-dropdown hidden absolute bg-white border border-solid border-gray-300 h-16 w-1/4 md:w-2/6 lg:w-1/12 right-1/3 mr-10 -mt-8 rounded flex flex-col justify-center">
                        <%= link_to post_comment_path(post, comment), method: :delete, class: 'hover:bg-gray-200 rounded text-center mx-1' do %>
                          <span class="text-lg font-semibold">Delete</span>
                        <% end %>
                        <%= link_to edit_post_comment_path(post,comment, redirect: false), class: 'hover:bg-gray-200 text-center rounded mx-1' do %>
                          <span class="text-lg font-semibold">Edit</span>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                    
                </div>
              </div>
              <% if action_name = "edit" && comment.id.to_i == params[:id].to_i %>
                <%= form_with model: [post,comment], class: 'flex mx-4' do |f| %>
                  <%= f.text_field :body, class: "px-2 border border-solid border-gray-300 rounded-3xl bg-gray-100 outline-none w-full", placeholder: 'Comment' %>
                  <%= f.hidden_field :redirect, value: false %>
                <% end %>
              <% else %>
                <div class="font-light bg-gray-100 rounded-md px-1"> <%= comment.body %> </div>
              <% end %>
            <% end %>
        
               

                


          </div>

          

        </div>
      <% end %>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'post' %>
<%= javascript_pack_tag 'comment' %>
<%= javascript_pack_tag 'image_upload' %>