<%= form_with(model: resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex  justify-center items-center mt-20">
    
    <div class="logo flex flex-col  justify-start mr-10 pr-36 -mt-36">
        <img width="250" height="100" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook">
        <div class="slogan ml-6 text-3xl pb-4 -my-4"><h2>Connect with friends and the world <br>
        around you on Facebook.</h2></div>    
    </div>

    <div class="login flex flex-col bg-white shadow-2xl space-y-4 px-4 items-center py-4 rounded-md">

      <%= link_to user_facebook_omniauth_authorize_path, method: :post, id: 'facebook-login', class: 'hover:bg-gray-100 flex justify-center items-center input_fields rounded bg-white  ' do %>
        <span class="bg-whtie text-blue-600 font-semibold text-lg">Sign in with facebook</span>
      <% end %>

      <div class="flex items-center justify-center pb-2"> <hr class="hr_width"> </div>

      <div >
        <%= f.text_field :login,placeholder: 'Email or Username', autofocus: true, autocomplete: "login", class: "input_fields px-3 border border-solid border-gray-300 focus:border-blue-400 focus:outline-none rounded-md"  %>
      </div>

      <div>
        <%= f.password_field :password, autocomplete: "current-password",placeholder: 'Password', class: "input_fields px-3 border border-solid border-gray-300 focus:border-blue-400 focus:outline-none rounded-md"  %>
      </div>

      <div>
        <%= f.submit "Log in", class: "input_fields bg-blue-500 text-white text-lg bg hover:bg-opacity-90 duration-100 rounded-md font-semibold border border-solid border-green-900"  %>

      </div>

      <div class="flex justify-center items-center">
        <%= link_to new_password_path(resource) do %>
        <p class=" text-blue-500 text-sm font-semibold hover:underline">Forgotten password? </p>
        <% end %>
      </div>

      <div class="flex items-center justify-center pb-2"> <hr class="hr_width"> </div>

      <div class="flex justify-center input_fields"> 
        <%= link_to new_user_registration_path do %>
          <button class="bg-green text-white rounded-md h-12 px-4 text-lg font-semibold">Create a new account</button>
        <% end %>
      </div>



      
      
      
      
    </div>


  </div>
<% end %>






