<!DOCTYPE html>
<html>
  <head>

    <style type="text/css"><%= yield :stylesheets %></style>

    <title>Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="h-14 border border-blue-500 border-solid  flex items-center bg-blue-800" >

      <div class="brand ml-4 text-white font-bold text-3xl">
        Facebook
      </div>  
        
      <div class="w-full flex justify-end ">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'bg-green mr-2 h-8 pt-1 w-20 pl-2 rounded font-bold text-white border border-solid border-green-800' %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <button class=" bg-green text-white bg mr-3 h-9 w-16 transform hover:scale-105 hover:bg-opacity-90 duration-100 rounded font-semibold border border-solid border-green-900">Sign in</button>
          <% end %>
        <% end %>
      </div>
     
    </nav>
  
    
    <%= content_for?(:content) ? yield(:content) : yield %>

      
  </body>
</html>
